html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }


  /* GLOBAL */

  .btn {
      padding: 1rem 2rem;
      text-transform: uppercase;
      border: none;
      color: white;
      transition: all .3s;
  }

  .btn:hover {
    cursor: pointer;
    border-radius: 3px;
  }

    .link {
        text-decoration: none;
        color: black;
    }

  /* NAVIGATION & HEADER */

 .navigation {
     position: absolute;
     top: 5%;
     right: 5%;
 }

 .navigation a {
     display: inline-block;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(255, 145, 0, 0.795);
    border-radius: 1px;
    transition: all .3s;
 }

 .navigation a:hover {
    border-radius: 5px;
    background-color: rgba(255, 123, 0, 0.377);
    transform: translateY(2px);
 }

  header h1 {
    font-size: 5rem;
    background-color: rgba(100, 56, 141, 0.459);
    padding: .5rem;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    right: 50%;
    color: aliceblue;
    box-shadow: 1px 2px 10px rgb(22, 22, 22);
    transition: all .3s;
  }

  header h1:hover {
    cursor: pointer;
    background-color: rgb(100, 56, 141);
    border-radius: 1px;
    transform: translateY(-4px);
    box-shadow: 3px 4px 10px rgb(22, 22, 22);
    color: white;
  }

  header img {
      height: 105vh;
      width: 100%;
  }

  .creditAuthor__header {
      position: absolute;
      color: white;
      bottom: 2px;
      right: 16px;
  }

  .link__header {
    color: orange;
}

/* MAIN SECTION */

.heading__secondary {
    text-align: center;
    margin: 0;
    padding: 3rem 2rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.container__about {
    color: rgb(17, 21, 31);
    height: 60vh;
    margin: 10rem 12rem 11rem;
    text-align: center;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.801), rgb(255, 255, 255));
}

.container__about p {
    margin: 0;
    padding: 2rem 10rem;
}

.container__about img {
    height: 160px;
    margin-top: 1rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem black;
}

@media (min-width: 600px) {
    .container__about {
        margin: 3rem 1rem
    }
}

.border__hobbys {
    border-top: 1px solid rgba(211, 194, 211, 0.274);
    padding-top: 8rem;
    margin: 0 5rem 10rem;
}

.container__cards {
    display: grid;
    grid-template-columns: 26% 26% 26%;
    gap: 1rem;
    justify-content: center;
    height: 55vh;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    /* border-top: 1px solid rgba(212, 212, 212, 0.336);
    margin: 0 1rem; */
}

.card {
    margin: 1.5rem 0;
    padding: 0 2rem 4.5rem;
    background-image: linear-gradient(to bottom,rgba(255, 0, 0, 0.418), white);
    text-align: center;
    transition: all .5;
}

.card i{
    margin-top: 1rem;
    font-size: 4.6rem;
}

.card:hover {
    background-image: linear-gradient(to bottom,rgba(72, 0, 189, 0.788), white);
    color: rgb(255, 255, 255);
}

.container__education {
    margin-top: 2rem;
    padding: 1rem 8rem;
    height: 96vh;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.247), white);
}

.container__education .left__paragraph {
    display:inline-block;
    line-height: 2rem;
    width: 27%;
    padding: 5rem 3.5rem 5rem 3.5rem;
    position: absolute;
    right: 50%;
}

.container__education .right__paragraph {
    display:inline-block;
    line-height: 2rem;
    width: 27%;
    padding: 5rem;
    position: absolute;
    left: 50%;
}

.container__projects {
    display: grid;
    padding-top: 2rem;
    background-image: linear-gradient(to top, rgba(50, 0, 189, 0.788), rgba(255, 0, 0, 0.247));
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 5% 25% 25% 25%;
    font-size: 1.5rem;
}

.projects__box--header {
    grid-column-start: 2;
    grid-column-end: 4;
}


.projects__box--first-1 {
    margin: 0;
    padding-top: 12.5px;
    padding-right: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-start: 3;
    text-align: right;
}

.projects__box--first-2 {
    margin: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-start: 3;
    font-size: 50px;
}

.projects__box--second-1 {
    margin: 0;
    padding-top: 12.5px;
    padding-right: 1rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-start: 4;
}

.projects__box--second-2 {
    padding-right: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;
    font-size: 50px;
    text-align: right;
}

.projects__box--third-1 {
    margin: 0;
    padding-top: 12.5px;
    padding-right: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-start: 5;
    text-align: right;
}

.projects__box--third-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-start: 5;
    font-size: 50px;
}

.container__contact {
    padding-top: 5rem;
    background-image: linear-gradient(to top, rgb(0, 77, 145), rgba(50, 0, 189, 0.788));
    height: 100vh;
}

.contact__background {
    display: grid;
    margin: 0 22%;
    height: 85%;
    background-color: rgba(240, 248, 255, 0.808);
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    box-shadow: 2px 2px 10rem black;
}

.contact__box--header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
}

.contact__box--header-2 {
    margin-left: 2rem;
    grid-column-start: 4;
    grid-column-end: 6;
}

.contact__box--form {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-left: 2rem;
    margin-right: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(13, 103, 182, 0.404);
}

.contact__box--form input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(13, 103, 182, 0.295);
    box-shadow: inset 1rem black;
}

.contact__box--form input:focus {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(13, 103, 182, 0.295);
    box-shadow: inset 1rem black;
}

.contact__btn {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 1.5rem 0 1.5rem 2rem;
    font-size: 2rem;
    color:aliceblue;
    border-radius: 5px;
    /* max-width: 200px;
    max-height: 100px; */
    background-color: rgba(13, 103, 182, 0.74);
}

.contact__btn:hover {
    background-color: rgb(13, 103, 182);
}

.fa-google {
    margin-top: 3rem;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 2rem;
    color: rgba(13, 103, 182, 0.74);
    transition: all .2s;
}

.fa-linkedin {
    margin-top: 1.5rem;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 2rem;
    color: rgba(13, 103, 182, 0.74);
    transition: all .2s;
}

.fa-twitter {
    margin-top: .5rem;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: 2rem;
    color: rgba(13, 103, 182, 0.74);
    transition: all .2s;
}

.fa-google:hover {
    cursor: pointer;
    transform: translate(1.5rem, .5rem) scale(1.5);
    color: rgba(13, 103, 182, 0.993);
}

.fa-linkedin:hover {
    cursor: pointer;
    transform: translate(1.5rem, .5rem) scale(1.5);
    color: rgba(13, 103, 182, 0.993);
}

.fa-twitter:hover {
    cursor: pointer;
    transform: translate(1.5rem, .5rem) scale(1.5);
    color: rgba(13, 103, 182, 0.993);
}

.practice {
    background-color: rgb(39, 38, 38);
    height: 100vh;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
    grid-row: ; */
}

.practice__buttons__heading {
    margin-top: 0;
    padding-top: 2rem;
    color: aliceblue;
}

.practice__buttons__btn--gradientHover {
    border: 2px solid #4CAF50;
    background-color: transparent;
    color: #4CAF50;
    padding: 10px 28px;
    font-size: 1rem;
    cursor: pointer;
    transition: 256ms all;   
    border-radius: 20px;   
}

.practice__buttons__btn--gradientHover:hover {
    background-color: #4CAF50;
    color: #fff;
  }