html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
  }

  /* HEADER */

  header h1 {
    font-size: 5rem;
    background-color: rgba(100, 56, 141, 0.459);
    padding: .5rem;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 50%;
    color: aliceblue;
    box-shadow: 1px 2px 10px rgb(22, 22, 22);
    transition: all .3s;
  }

  header h1:hover {
    font-size: 5rem;
    background-color: rgb(100, 56, 141);
    border-radius: 1px;
    transform: translateY(-4px);
    box-shadow: 3px 4px 10px rgb(22, 22, 22);
    color: aliceblue;
  }

  header img {
      height: 105vh;
      width: 100%;
  }

  .creditAuthor__header {
      position: absolute;
      color: white;
      bottom: 2px;
      right: 16px;
  }

  .link {
    text-decoration: none;
    color: orange;
}

/* ABOUT ME */


